@gray-medium: #999;

body, html {
    height: 100%;
}

body {
    background: url('/images/css/concrete_seamless.png') repeat top left transparent;
}

input[type="text"],
input[type="email"] {
    background: transparent;
}

hr {
    border-top-color: @gray-medium;
}

.page-header {
    border-bottom-color: @gray-medium;
}