@import "bootstrap/mixins";
@import "bootstrap/variables";

#page-summary {
    section header {
        font-size: 24px;
        text-align: center;

        @media(min-width: @screen-sm-min) {
            font-size: 32px;
        }
    }

    .total-check-ins,
    .total-loyalty-points {
        font-size: 100px;

        @media(min-width: @screen-lg-min) {
            font-size: 160px;
        }
    }
}